<div id="<%= dom_id game %>">
  <p>
    <strong>Availability:</strong>
    <%= game.availability %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= game.currency %>
  </p>

  <p>
    <strong>Currentlowestprice:</strong>
    <%= game.currentLowestPrice %>
  </p>

  <p>
    <strong>Gameid:</strong>
    <%= game.gameId %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Releasedate:</strong>
    <%= game.releaseDate %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= game.type %>
  </p>

</div>
