<div id="<%= dom_id item %>">
  <p>
    <strong>Availability:</strong>
    <%= item.availability %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= item.currency %>
  </p>

  <p>
    <strong>Currentlowestprice:</strong>
    <%= item.currentLowestPrice %>
  </p>

  <p>
    <strong>Id:</strong>
    <%= item.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Releasedate:</strong>
    <%= item.releaseDate %>
  </p>

</div>
